version: "3.9"

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${DB_HOST_PORT}:5432"   # Usa la variable del .env , asi no hay que editar valores en los 2 archivos
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - internal
    

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      
      - db
    environment:
      DATABASE_URL: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    ports:
      - "${APP_PORT}:8000"
    networks:
      - internal
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      - db
    networks:
      - internal
    volumes:
      - pgadmin_data:/var/lib/pgadmin

networks:
  internal:

volumes:
  db_data:
  pgadmin_data:
